<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Demo</title>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <p>Pulsa <a th:href="@{/}">aqui</a> para volver a la pantalla de inicio</p>
        <form enctype='application/json' id="userRegistration">
            <div><label> Correo electronico : <input type="text" name="email" id="email"/> </label></div>
            <div><label> Password: <input type="password" name="password" id="password"/> </label></div>
            <div><label> Nombre: <input type="text" name="firstName" id="firstName"/> </label></div>
            <div><label> Apellidos: <input type="text" name="lastName" id="lastName"/> </label></div>
            <div><input type="button" value="Sign In" onclick="javascript:register()"/></div>
        </form>
    </body>
    
    <script>
    function register(){
        $.ajax({
            url: '/users',
            data: JSON.stringify({
            	email: $('#email').val(),
                password: $('#password').val(),
                firstName: $('#firstName').val(),
                lastName: $('#lastName').val()
            }),
            processData: false,
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json',
            statusCode: {
                201: function (response) {
                	alert('Usuario registrado correctamente.');   
                },
                409: function (response) {
                   alert('Usuario ya registrado con este email');
                },
                404: function (response) {
                	alert('Error en datos de entrada');
                }
             }, success: function () {
                
             },
        });
    }
    </script>
</html>